@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    font-family: "Nunito";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header{
    color: white;
    font-size: 18px;
    width: 100%;
    height: 90vh;
    background-color: rgba(20, 177, 211, 1);
}
nav{
    background-color: tomato;
    font-weight: 700;
    max-width: 1200px;
    margin: auto;
}

nav ul img{
    grid-area: logo;
    width: 100px;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 1;
}

nav ul{
    display: grid;
    grid-template-rows: 1vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo menu botao";
    background-color: teal;
}


nav li{
    grid-column-start: 2;
    grid-column-end: 3;
    display: inline-flex;
    padding: 10px;
}

header li a{
    color: #433939;
    text-decoration: none;
}
button{
    grid-area: botao;
    grid-column: 3;
    font: inherit;
    font-family: "Nunito";
    color: white;
    border-radius: 5em;
    background: none;
    border-color: white;
    padding: 0 2rem;
    margin-left: 100px;
    
}
