@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    font-family: "Nunito";
    line-height: 110%;
    color: #433939;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 80vh;
    background-color: rgba(20, 177, 211, 1);
}

nav{
    position: relative;
    font-weight: 700;
    max-width: 1200px;
    margin: auto;
}

nav ul img{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 550px;

}

nav li{
    display: inline-block;
    padding: 10px;
    margin-top: 33px;
}

header li a{
    text-decoration: none;
}

nav button{
    color: white;
    background: none;
    border-color: white;
    margin-left: 100px;
    
}

button{
    font: inherit;
    font-family: "Nunito";
    padding: .3rem 2rem;
    border-radius: 5em;
    
}

.container-conteudo{
    margin-top: -5rem;
    
}

.container-conteudo p{
    width: 550px;
    font-size: 24px;
    margin-left: 10vw;
    margin-top: 5px;
}

header p button{
    border: none;
    background-color: #76FF6A;
    color:  #433939;
    width: 278px;
    height: 47px;
    margin-top: 2rem;
}

#promocional{
    width: 650px;
    height: 600px;
    position: absolute;
    top: 8vh;
    right: 100px;
    z-index: 1;
}

h1{
    color: white;
    width: 550px;
    font-size: 64px;
    margin-top: 120px;
    margin-left: 10vw;
}

.container-tecnicas1{
    position: relative;
    background-color:white;
    border-radius: 50px 50px 0 0;
    margin: -2.5rem 0 50px 0;
    padding: 10rem 0 5rem 0;
    
}
.titulo{
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
.container-tecnicas{
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.content{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    padding-right: 7rem;
    padding-top: 0;
}
.content:last-of-type{
    padding-right: 0;
}
.item{
    font-size: 64px;
    padding-bottom: .5rem;
}

.container-plataforma{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 600px;
    background-color: #D5F5FC;
    padding: 100px 0 200px 0;
}

.container-plataforma h2{
    height: 100px;
    width: 300px;
    text-align: left;
    margin-left: -50px;
    
}

.container-plataforma p{
    margin-left: -50px;
    margin-top: 4rem;
    height: 200px;
    width: 300px;
    text-align: left;
    font-size: 18px;
    color: #433939;
    font-weight: 400;
}

.container-plataforma h2 p{
    margin-top: 10px;
    font-size: 18px;
    color: #433939;
    font-weight: 400;
}

.style{
    border-radius: 50px 50px 0 0;
    height: 50px;
    margin-top: -50px;
    background-color: white;
}

.cards-planos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
    border-radius: 50px 50px 0 0;
    margin-top: -25px;
    background-color:#14B1D3;
}

.plano{
    text-align: center;
    display: block;
    border-radius: 25px;
    width: 400px;
    height: 594px;
    margin-bottom: -2rem;
    background-color:#F5F5F5;
}

.plano:first-of-type{
    margin-right: -20px;
}
.plano:last-of-type{
    margin-left: -20px;
}

.preco-riscado{
    text-decoration-line: line-through;
    color: #C0C0C0;
    font-size: 24px;
}

.preco-promocional-parcela{
    font-size: 20px;
    color: #626262;
}

.preco-promocional{
    font-size: 32px;
    color: #626262;
}

.plano ul li{
    margin-left: 25px;
    text-align: left;
    
}

.plano button{
    border-radius:0 0 25px 25px;
    border: none;
    margin-top: 194.5px;
    padding: 60px 105.5px;
    background: #8CEB84;

    font-size: 32px;
}
.anual{
    z-index: 1;
    margin-top: -70px;
    background-color: white;
}
.anual button{
    background: #76FF6A;
}
.container-planos{
    text-align: center;
    background-color: #14B1D3;
    padding: 200px 0;
    border-radius: 50px 50px 0 0;
}

.container-planos > span{
    color: red;
    font-size: 12px;
    margin-bottom: 100px;
}
.container-planos > .titulo{
    margin-top: 50px;
}
